.hero-1 .hero-content h1 {
    font-size: 70px;
    line-height: 1.2

}
.hero-1 .hero-height {
    padding: 150px 0 70px;
}
.hero-1 .hero-content h1 b
 {
    color: #7e3b1a;
}
.hero-1 .swiper-slide.swiper-slide-active .hero-content {
    background: rgba(255, 255, 255, 0.15);
    padding:2em;
}
.split-line img {
    filter: brightness(0) saturate(100%)
            invert(15%) sepia(99%) saturate(2600%)
            hue-rotate(350deg) brightness(80%) contrast(105%);
}
    h2 {
        font-size: 40px;
    }
    
.section-padding {
    padding: 60px 0;
}
.team-box-items-style-4{
    background:#fff;
    border-radius:15px;
    padding:35px 25px;
    transition:all .4s ease;
    height:100%;
    box-shadow:0 10px 30px rgba(0,0,0,.06);
}

.team-box-items-style-4:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 40px rgba(0,0,0,.12);
}

.team-box-items-style-4 i{
    color:#b8860b;
    margin-bottom:20px;
}

.team-box-items-style-4 h4{
    font-size:22px;
    margin-bottom:15px;
    font-weight:700;
}

.team-box-items-style-4 p{
    font-size:15px;
    line-height:28px;
    color:#666;
}
@media (max-width: 1399px) {
    h2 {
        font-size: 35px;
    }
}
@media (max-width: 470px) {
    .hero-1 .hero-content h1 {
        font-size: 40px;
    }
    .hero-1 .swiper-slide.swiper-slide-active .hero-content {
    padding:0.5em;
}
}